  /* display 속성을 추가해서 */
/* 이 목록을 상단바 메뉴 모습으로 바꿔보세요! */


ul > li {
  margin-right: 2em;
  /* inline을 줘도 되지만 padding을 주기 위해 inline-block으로 */
  display: inline-block;
  padding: 8px;
}


p {
  margin: 8px;
  display: inline-block;
}