/* 자손 결합자 -> 클래스 안에 있는 모든 자손들에 해당*/
.outer li {
  color: olivedrab
}

/* 자식(1촌 자식) 결합자 */
.outer > li {
  color: dodgerblue;
}

/* 그냥 띄어쓰기 -> 모든 자손 */
.outer > li li {
  text-decoration: underline;
}

/* 클래스 뒤따르는 모든 동생들 결합자 */
.starter ~ li {
  font-style: italic;
}

/* 뒤따르는 바로 다음 동생 결합자 */
.starter + li {
  font-weight: bold;
}

/* 가상클래스 */

/* 첫번째와 마지막 요소 가상클래스 */
ol li:first-child,
ol li:last-child {
  color: yellowgreen
}

/* ~가 아닌 요소 가상 클래스 */
.outer > li:not(:last-child) {
  text-decoration: line-through;
}

/* ul 중에 outer 클래스가 아닌 경우 */
ul:not(.outer) {
  font-weight: bold;
}

/* ~번째 요소 가상 클래스 */
/* #, #n, #n+n, odd(홀수), even(짝수) 등등 */

/* ol안 li 3번째만 */
ol li:nth-child(3) {
  font-weight: bold;
  color: deeppink;
}

/* 2의 배수 */
/* ol li:nth-child(2n) {
  font-weight: bold;
  color: deeppink;
} */

/* 마우스호버 가상 클래스 */
li:hover {
  color: blue;
  font-weight: bold;
}



