h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: #f78120 underline wavy;
  letter-spacing: 20px;
  font-size: 80px;
  font-family: Arial;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}


