h1 {
  display: none;
}
body {
  text-align: center;
}

article {
  background-color: black;
  display: inline-block;
}

.cal-start {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cal-end {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn-z {
  grid-column: 1 / 3;
}

button {
  border: 1px solid black;
  border-radius: 500px;
  padding: 30px;
  margin: 5px;
  color: white;
  background-color: gray;
}

.orange {
  background-color: orange;
}

.gray {
  background-color: darkgrey;
}

input {
  width: 90%;
  height: 50px;
  background-color: black;
  color: white;
  text-align: right;
  border: none;
  font-size: 2em;
  overflow: hidden;
}